ul, li, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

header {
  background-color: black; 
  margin-top: -20px;
  height: 70px;
}

.frame{
  float: left;
  margin-right: 20px; 
}

.lobo{
  order: 1;
  display: flex;
  left: 0;
  width: 150px; 
  height: 70px;
}

.shadow-buttom{
  order: 2;
  position: relative;
  justify-content: flex-start;
  margin-left: 160px;
}

.shadow-button-set {
  position: absolute;
  display: flex;
  float: left;
  margin-right: 20px;
  margin-top: 25px;
}

.shadow-button-set li {
  margin: 0 10px; 
}

.shadow-button-set li a{
  color: #8407fa; 
  font-size: 16px; 
  font-weight: bold; 
  padding: 8px 15px; 
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

.shadow-button-set li a:hover {
  background-color: #ad5ff5;
}

.shadow-button-set-door{
  order: 3;
  position: absolute;
  margin-top: 25px;
  top: 0;
  right: 0;
}

.shadow-button-set-door li {
  margin: 0 10px; 
}

.shadow-button-set-door li a{
  color: #8407fa; 
  font-size: 16px; 
  font-weight: bold; 
  padding: 8px 15px; 
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

.shadow-button-set-door li a:hover {
  background-color: #ad5ff5;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Courier New';
  line-height: 1.5;
  margin: 0; 
  padding: 20px 0; 
}

.main {
  min-height: 100vh;
  background-image: url("photo/backfon.jpg"); 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.main-box {
  position: relative;
  width: 200px;
  height: 300px;
  transform-style: preserve-3d;
  animation: animate 30s linear infinite;
  margin-bottom: 40px;
}

@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.main-box span {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
  -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.main-box span img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.films-list{
  background-color: #f7e2e2;
  
}

.today-list-film, .willbe-list-film{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.today-list-film img, .willbe-list-film img{
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 300px;
  width: 200px;
  border-radius: 5%;
}

.today-name, .willbe-name{
  margin-left: 150px;
}

.line {
  border-top: 1px solid #000; 
  margin: 20px 0; 
}



footer{
  background-color: #030303;
  padding: 70px 0;
  display: end;
}

.row{
  display: flex;
  align-content: flex-end;
  justify-content: center;
}

#footer-col{
   width: 25%;
   padding: 0 15px;
}

#footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

#footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #8407fa;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

#footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

#footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #f8f4f4;
  display: block;
  transition: all 0.3s ease;
}

#footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}

#footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(247, 243, 243, 0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

#footer-col .social-links a:hover{
  color: #24262b;
  background-color: #8407fa;
}

@media(max-width: 767px){
  #footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px){
  #footer-col{
    width: 100%;
  }
}
